#navi{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#person{
    border-radius: 100%;
}
#Netflix{
    display: flex;
    align-items: center;
}
#cmimi1{
    color: red;
     text-align: center;
     width: 150px;
}
#Spotify{
    display: flex;
    align-items: center;
}
#Nfamily{
    display: flex;
}
#Netflixlogo{
    height: 50px;
    width: 50px;
    
}
#Spotifylogo{
    height: 50px;
    width: 50px;
}
#Person1{
    display: flex;
    align-items: center;
}
#Person1logo{
    height: 50px;
    width: 50px;
    border-radius: 100%;
}
#Person2{
    display: flex;
    align-items: center;
}
#Person2logo{
    height: 50px;
    width: 50px;
    border-radius: 100%;
}
#Person3{
    display: flex;
    align-items: center;
}
#Person3logo{
    height: 50px;
    width: 50px;
    border-radius: 100%;
}
     

